:root {
    --purple-selection: #625dc7;
    --purple: #6e66ff;
    --dark: #161616;
    --light-bg: #e4e4e4;
    --grey-bg: #333333;
}

::-moz-selection {
    color: white;
    background: var(--purple-selection);
}

::selection {
    color: white;
    background: var(--purple-selection);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADERS */
h1 {
    font-family: 'Bitter', serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Crimson Pro', serif;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h3 {
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center !important;
    margin-top: 2rem;
}

h4 {
    font-size: 1.3rem;
}

/* NAVBAR */
.navbar-nav li {
    padding-left: 0.75rem;
}

.navbar-nav li a {
    font-size: 0.95rem;
    font-weight: 200;
}

.bg-dark {
    background-color: var(--dark) !important;
    padding: 1rem 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--purple);
    transition: all .2s ease-in-out;
}

.fa-file-code {
    margin-right: 10px;
}

/* HEADER */
header {
    background-color: var(--purple);
    height: auto;
    padding: 2.5rem;
    margin-top: 78px;
}

.hero-text p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.8em;
    margin-top: 1.8rem;
    max-width: 440px;
}

/* SECTIONS */
section {
    padding: 1rem;
}

section ul>li {
    list-style: none;
}

section ul>li::before {
    content: "\2022";
    color: var(--purple);
    font-weight: 700;
    display: inline-block;
    width: 1em;
}

section hr {
    border: 1px solid var(--purple);
    float: center;
    width: 3%;
}

.sec-bg-light {
    background: var(--light-bg);
}

.sec-bg-grey {
    background: var(--grey-bg);
    color: white;
}

.sec-bg-grey h3 {
    color: var(--purple);
}

.img-center {
    text-align: center;
    margin: 1.5rem 0;
}

.anchor {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}

.table-default, .table-default>td, .table-default>th {
    background-color: #6e66ff63;
}

/* FOOTER */
footer {
    font-weight: 300;
    padding-top: 1.8rem;
    padding-bottom: 0.9rem;
    text-align: center;
}

footer i {
    color: var(--purple);
}

.social-media a {
    margin-top: 5px;
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px;
}

.social-media i {
    color: var(--grey-bg);
}

.social-media a i:hover {
    color: var(--purple);
    transform: scale(1.1, 1.1);
    transform-origin: center, center;
    transition: all .2s ease-in-out;
}

.author b {
    font-weight: 500;
}

/* SCROLLTOP */
#scrollToTop {
    background-color: var(--dark);
    color: white;
    display: none;
    position: fixed;
    border: none;
    outline: none;
    z-index: 99;
    bottom: 20px;
    right: 30px;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#scrollToTop:hover {
    background: #505050;
    transition: all .3s ease-in-out;
}

/* PPRELOADER */
.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}

/* MEDIA QUERIES */
@media screen and (min-width: 1250px) {
    h1 {
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .hero-text {
        margin-top: 2.4rem;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 3.2rem;
    }

    .navbar-nav li a {
        font-size: 0.7rem;
    }

    .card {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav li {
        padding-top: 0.7rem;
    }

    .navbar-nav li a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-nav li a {
        font-size: 0.9rem;
    }

    .navbar {
        padding: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .hero-text p {
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.8rem;
    }
}